<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swati.myduniya" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <!-- android:theme="@style/AppTheme" -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyARMKqDRVhG-vQQ8cRP7jhWp-LzjJZYffU" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".PickPlace"
            android:label="@string/title_activity_pick_place" >
        </activity>
        <activity
            android:name=".TwitterActivity"
            android:label="Trending" >
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="myDuniya" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" >
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b92e6f153cf0feaff461bca83774382c0e9e1946" />

        <activity
            android:name=".RecommendedDetail"
            android:label="@string/title_activity_recommended_detail" >
        </activity>
        <activity
            android:name=".FragmentDrawer"
            android:label="@string/title_activity_fragment_drawer" >
        </activity>
        <activity
            android:name=".SpecialActivity"
            android:label="@string/title_activity_special" >
        </activity>
        <activity
            android:name=".SpecialDetail"
            android:label="@string/title_activity_special_detail" >
        </activity>
        <activity
            android:name=".testfacebooklogin"
            android:label="@string/title_activity_testfacebooklogin" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CategoryNews"
            android:label="@string/title_activity_category_news" >
        </activity>
        <activity
            android:name=".TweetListActivity"
            android:label="Trending">

        </activity>


    </application>

</manifest>
